fastapi
uvicorn
numpy
pandas
scikit-learn
matplotlib
networkx
spacy
transformers
torch
plotly
neo4j
gremlinpython
azure-identity
azure-mgmt-resource
azure-mgmt-web
azure-mgmt-cosmosdb
azure-mgmt-storage 
azure-storage-blob 
azure-cosmos 
azure-cognitiveservices-language-textanalytics 
msrest
azure-ai-textanalytics